<style>
@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
</style>


html {
    height: 100%;
}

body {
  background-color: #ECECEC !important;
}

h1,h2,h3 {
  color: #AC3B61;
  font-weight: 400;
  font-family: 'Didact Gothic', sans-serif;
  margin-left: 100px;
}




p {
  color: #18191A;
  font-weight: 300;
  font-family: 'Didact Gothic', sans-serif;
  margin-left: 100px;
  font-size: 16pt;
}

a {
   color: #18191A;
   text-decoration: underline;
}

a:hover{
  color: #18191A;
  background-color: #edb7c7;
}

.home-arrow{
  font-size: 30px;
}
